<div class="container flex justify-end vh-100 relative">
  <!-- logo -->
  <div class="logo-container absolute flex-l flex-m z-2 dn">
    <img class="logo-icon" src="/assets/images/icon.png" alt="logo" />
    <h1 class="logo-title mv1 ml2">
      <span class="logo-text white">Zippy</span>
      <span class="blue-green">Crowd</span>
    </h1>
  </div>
  <!-- icon center -->
  <img src="/assets/images/icon3.png" alt="" class="db-l dn center-icon absolute z-1 left-0 right-0" />
  <img src="/assets/images/bg-left.png" alt="" class="h-100 w-50-l w-100-m dn db-l">
  <div class="content-container flex flex-column relative bg-center contain w-50-l w-100">
    <div class="navigation pa3 flex justify-end items-center bg-white">
      <p class="mv0 mr2">New to ZippyCrowd?</p>
      <button class="purple ba b--light-gray dim pointer pv2-l ph3-l pv2-m ph3-m pa2 ml1-l ml1-m mr2-l mr2-m ttu br-pill bg-white b ml1">Get started</button>
      <p class="mv0 mr2 ml1">or</p>
      <button class="bg-purple white pv2-l ph3-l pv2-m ph3-m pa2 ba b--transparent ml1-l ml1-m mr2-l mr2-m br-pill b dim pointer">Log in</button>
      <i class="fas fa-bars bg-light-gray pa2 br-100 ml1-l ml1-m ml2 dim pointer"></i>
    </div>
    <div class="ph6-l pv5-l ph6-m pv5-m pv4 ph3">
      <div class="logo-container flex dn-l dn-m mb4 justify-center">
        <img class="logo-icon" src="/assets/images/icon.png" alt="logo" />
        <h1 class="logo-title mv1 ml2">
          <span class="logo-text">Zippy</span>
          <span class="blue-green">Crowd</span>
        </h1>
      </div>
      <h1 class="heading mb3 mt4 f1-l f1-m f2">Recommendations</h1>
      <h2 class="subheading pv2 ph3 mt0 mb4 f4-l f4-m f5">People you need from people you trust.</h2>
      <div class="flex items-end mb3">
        <img src="/assets/images/icon.png" alt="" class="icon pa2 br-100 bg-white shadow-4 mr2">
        <div class="purple ml1 br4 shadow-4 ph3 pv3 bg-white fw6">
          <p class="mt0 mb2">Ask friends to recommend.</p>
          <p class="mv0">Free. With no middleman.</p>
        </div>
      </div>
      <div class="relative pt2 mb3" appClickOutside (isClicked)="showAutocomplete = false">
        <input
          type="text"
          [(ngModel)]="profession"
          (ngModelChange)="filterList()"
          (focus)="showAutocomplete = true"
          placeholder="I'm looking for..."
          class="shadow-4 br-pill ba b--light-gray ph3 pv2 outline-0 w-100" />
        <div class="absolute br3 shadow-4 left-1 bg-white" *ngIf="filteredProfessionList.length > 0 && showAutocomplete">
          <p class="mv0 pv2 ph3 dim pointer black-70 bg-white br3 bg-white" *ngFor="let profession of filteredProfessionList" (click)="selectProfession(profession)">{{profession}}</p>
        </div>
      </div>
      <div class="flex justify-end items-center mb3 ph3 pv1 w-100 br-pill shadow-4" [ngStyle]="{'background-color': location.checked ? 'rgb(235, 235, 228)' : 'white'}">
        <input
          type="text"
          placeholder="Find in..."
          class="bn outline-0 w-100"
          [disabled]="location.checked" />
        <p class="mv0 mh2 flex-none">Any location</p>
        <label class="toggle relative dib flex-none">
          <input type="checkbox" class="toggle-input dn" #location />
          <span class="slider round top-0 left-0 right-0 bottom-0 pointer absolute"></span>
        </label>
      </div>
      <div class="flex justify-end pt2">
        <button class="bg-purple white pv1 pl1 pr3 ml1 br-pill b dim pointer bn flex items-center">
          <img src="/assets/images/icon2.png" alt="icon2" class="h2 w2 mr2" />
          <span>Ask for Recs</span>
        </button>
      </div>
    </div>
  </div>
</div>
