/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~src/assets/tachyons.min.css';

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  background-color: #fafafa;
  color: #41355c;
  font-family: 'Varela Round', sans-serif;
}

button, .link:focus {
  outline: 0;
  font-family: 'Varela Round', sans-serif;
}

// colors
.purple {
  color: #604c8d;
}

.blue-green {
  color: #1fc39b;
}

.heading {
  color: #221c30;
}

.bg-purple {
  background-color: #3a2d56;
}
